<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Appliance Store</title>
</head>

<body>

<h1>Appliance Store</h1>

<ul>

    <li>
        <a th:href="@{/employees}">
            Employees
        </a>
    </li>

    <li>
        <a th:href="@{/clients}">
            Clients
        </a>
    </li>

    <li>
        <a th:href="@{/manufacturers}">
            Manufacturers
        </a>
    </li>

    <li>
        <a th:href="@{/appliances}">
            Appliances
        </a>
    </li>

    <li>
        <a th:href="@{/orders}">
            Orders
        </a>
    </li>

</ul>

</body>

</html>