<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/layout :: head(#{app.title})}"></head>

<body>

<nav th:replace="~{fragments/layout :: navbar}"></nav>

<!--<h2 th:text="#{app.title}">Appliance Store</h2>-->

<!--<p sec:authorize="isAuthenticated()">-->
<!--    <span sec:authentication="name"></span>-->
<!--    (<span sec:authentication="principal.authorities"></span>)-->
<!--</p>-->

</body>
</html>
